.main .item {
    border-bottom: 1px solid #eee;
}

.main .item h2.subtitle {
    font-size: 1.1em;
    font-style: italic;
    color: #777;
    margin: 0;
}

.main #single h1.title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
}

.main #single h2.subtitle {
    text-align: center;
    font-size: 1.2em;
    color: #777;
    margin: 0;
    margin-bottom: 1em;
}

.main .profile {
    padding-bottom: 4em;
}

.main .profile h2 {
    font-size: 1em;
}

.content h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #ccc;
}

.content h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
}

.content h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0;
}

.content h3+ul,
.content h3+ol {
    margin-top: 0;
}

.content p {
    margin-block-start: 0.5em;
    margin-block-end: 2em;
}

#TableOfContents ul:first-of-type {
    margin-bottom: 0;
}

#TableOfContents ul+ul {
    margin-top: 0;
}